
.mapa {
  width: 1000px;
  height: 550px;
  margin-right: auto;
  margin-left: auto;
  background-color: lightgray;
  
}

.rob {
    border: 1px solid transparent;
    border-radius: 4px;
}

.senca {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

